spring:
  application:
    name: bibliokeep-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/bibliokeep
    username: postgres
    password: admin123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

jwt:
  secret: my-secret-key-for-jwt-token-generation-and-validation-12345
  expiration: 86400000

